* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  overflow-x: hidden;
  background-image: url("gallery/bg1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#mainForm {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 205;
  width: 70.5vw;
  height: 32vh;

  textarea {
    color: white;
    background-color: transparent;
    resize: none;
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    z-index: 205;
    caret-color: white;
  }
}

#completion {
  position: absolute;
  top: 60%;
  left: 46%;
  color: white;
  z-index: 5000;
}

#prompt {
  position: absolute;
  top: 55%;
  left: 46%;
  color: white;
}

#mainButton {
  all: initial;
  cursor: pointer;
  width: 15.6vw;
  height: 11vh;
  position: absolute;
  top: 88vh;
  left: 49%;
  transform: translate(-50%, -50%);
  background-image: url("gallery/theButton.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

#mainButton:hover {
  filter: brightness(0.8);
}

#header {
  position: sticky;
  width: 103%;
  z-index: 1005;
  transition: all 0.75s 0ms;
}

#header:hover {
  transform: scale(1.1);
}

// Yoinked scroll bar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#mainTxt {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 51%;
  user-select: none;
  pointer-events: none;
}

#formBg {
  position: absolute;
  margin-top: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 201;
  object-fit: cover;
  width: 100%;
}

h1 {
  color: #FFF;
  font-family: Proza Libre, sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 88vh;
  left: 49%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}